<ion-header >
  <ion-toolbar class="a">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <div class="logo">
    <img src="./../../assets/img/logo.png">
      </div>

      <h4>Aqui seu filho vai aprender muito!!</h4>
      <p>Intro Intro Intro</p>

      <p>Dados de Acesso:</p>
      <div class="formfield">
        <ion-input placeholder="Username:"></ion-input>
        <ion-input placeholder="Email:"></ion-input>
        <ion-input placeholder="Senha:" type="password"></ion-input>
        <ion-input placeholder="Confirmar a Senha:" type="password"></ion-input>
      </div>

      <p>Dados Pessoais:</p>
      <div>
        <ion-input placeholder="Nome:"></ion-input>
        <ion-input placeholder="Idade:"></ion-input>
        <ion-input placeholder="Sexo:"></ion-input>
      </div>

</ion-content>
