<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-header class="head">
  <ion-list>

    <h4 class="cor">Título</h4>
    <p class="neg">Tipo</p>
    <p class="desc">Descricao</p>


  </ion-list>



</ion-header>

<p>
  Não espero nem solicito o crédito do leitor para a tão extraordinária e no
  entanto tão familiar história que vou contar. Louco seria esperá-lo, num caso
  cuja evidência até os meus próprios sentidos se recusam a aceitar. No
  entanto não estou louco, e com toda a certeza que não estou a sonhar. Mas
  porque posso morrer amanhã, quero aliviar hoje o meu espírito. O meu fim
  imediato é mostrar ao mundo, simples, sucintamente e sem comentários,
  uma série de meros acontecimentos domésticos. Nas suas consequências,
  estes acontecimentos aterrorizaram-me, torturaram-me, destruíram-me. No
  entanto, não procurarei esclarecê-los. O sentimento que em mim
  despertaram foi quase exclusivamente o de terror; a muitos outros
  parecerão menos terríveis do que extravagantes. Mais tarde, será possível
  que se encontre uma inteligência qualquer que reduza a minha fantasia a
  uma banalidade.
</p>
<ion-fab vertical="top" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="play"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
